## MariaDB CREATE CONNECTION

In [16]:
#!pip install pymysql
import pymysql

# Connect to the database
conn = pymysql.connect(
    host="maria-db-profai-1.cbcqsup2pxj4.eu-west-1.rds.amazonaws.com",
    user="admin",
    password="$professionai$",
    database="rubrica",
    port=3306
)

# Create a cursor object
cursor = conn.cursor()

# Execute a query
cursor.execute("SELECT * FROM contatto")

# Fetch the results
results = cursor.fetchall()

# Do something with the results
for row in results:
    print(row)

# Close the connection
#conn.close()

(1, 'Mario', 'Bianchi', datetime.date(1995, 10, 15), 50)
(2, 'Andrea', 'Verdi', datetime.date(2003, 4, 5), 35)
(3, 'Luigi', 'Rossi', datetime.date(2013, 2, 25), 25)
(4, 'Anna', 'Esposito', datetime.date(2020, 1, 28), 37)
(5, 'Simona', 'Parisi', datetime.date(2018, 4, 28), 41)

In [25]:
%load_ext sql
%sql mariadb+pymysql://admin:$professionai$@maria-db-profai-1.cbcqsup2pxj4.eu-west-1.rds.amazonaws.com/rubrica
%reload_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
%sql SELECT * FROM contatto

 * mariadb+pymysql://admin:***@maria-db-profai-1.cbcqsup2pxj4.eu-west-1.rds.amazonaws.com/rubrica
5 rows affected.

[(1, 'Mario', 'Bianchi', datetime.date(1995, 10, 15), 50),
 (2, 'Andrea', 'Verdi', datetime.date(2003, 4, 5), 35),
 (3, 'Luigi', 'Rossi', datetime.date(2013, 2, 25), 25),
 (4, 'Anna', 'Esposito', datetime.date(2020, 1, 28), 37),
 (5, 'Simona', 'Parisi', datetime.date(2018, 4, 28), 41)]

In [30]:
%sql SHOW TABLES;

 * mariadb+pymysql://admin:***@maria-db-profai-1.cbcqsup2pxj4.eu-west-1.rds.amazonaws.com/rubrica
3 rows affected.

[('contatto',), ('over35',), ('recapito',)]

In [35]:
%sql select * from over35

 * mariadb+pymysql://admin:***@maria-db-profai-1.cbcqsup2pxj4.eu-west-1.rds.amazonaws.com/rubrica
4 rows affected.

[(1, 'Mario', 'Bianchi', datetime.date(1995, 10, 15), 50),
 (2, 'Andrea', 'Verdi', datetime.date(2003, 4, 5), 35),
 (4, 'Anna', 'Esposito', datetime.date(2020, 1, 28), 37),
 (5, 'Simona', 'Parisi', datetime.date(2018, 4, 28), 41)]